.book-information{
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  padding-bottom: 20px;
  background: #fff;
}
.book-information .book-img {
  float: left;
  width: 144px;
  height: 192px;
  margin: 20px 20px 0;
}
.book-img a img {
  width: 100%;
  height: 100%;
  transition: transform .3s ease-out;
  color: #fcfcfa;
}
a img {
  border: none;
}
.book-information .book-info {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}
.book-information .book-info h1 {
  font: 700 28px/38px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
  overflow: hidden;
  height: 38px;
  margin-bottom: 12px;
}
.book-information .book-info h1 span {
  font: 14px/20px PingFangSC-Regular,'-apple-system',Simsun;
  margin-left: 20px;
}
.book-information .book-info .tag {
  font-size: 12px;
  overflow: hidden;
  height: 25px;
  margin-bottom: 12px;
}
information .book-info .tag span {
  /*font-size: 12px;*/
  /*display: inline-block;*/
  /*overflow: hidden;*/
  /*height: 22px;*/
  /*margin-right: 22px;*/
  /*padding: 0 10px;*/
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*border-width: 1px;*/
  /*border-style: solid;*/
  /*border-radius: 15px;*/
}
.book-information .book-info .tag span.blue {
  margin-left: 12px;
  color: #3f5a93;
  border-color: #9fadc9;
}
.book-information .book-info .tag a.red, .book-information .book-info .tag span.red {
  margin-left: 12px;
  transition: border .3s;
  color: #bf2c24;
  border-color: #ffb0b4;
}
.book-information .book-info .tag + .intro {
  /*border: 2px solid floralwhite;*/
  text-align: left;
  font-size: 12px;
  overflow: hidden;
  height: 20px;
  margin-bottom: 11px;
}
